a:hover {
    text-decoration: none !important;
}

nav {
    padding-bottom: 0 !important;
    background-color: white !important;
}

nav .navbar-brand img {
    width: 80%;
}

nav form img {
    padding: 0 !important;
    margin-right: 1.5vw;
    max-width: 47px !important;
}

nav .active {
    -moz-box-shadow: inset 0 -4px 0 #043D69;
    -webkit-box-shadow: inset 0 -4px 0 #043D69;
    box-shadow: inset 0 -4px 0 #043D69;
}

nav li {
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-size: 1vw !important;
    margin-right: 1.5vw;
    transition: 1s;
}

nav li.cart {
    font-size: 1vw !important;
    padding-top: 1vw;
    padding-bottom: 1vw;
    transition: 1s;
}

nav li:hover {
    -moz-box-shadow: inset 0 -4px 0 #043D69;
    -webkit-box-shadow: inset 0 -4px 0 #043D69;
    box-shadow: inset 0 -4px 0 #043D69;
}

nav li.cart:hover {
    box-shadow: none;
}

nav a {
    color: #292B2C !important;
}

nav .active a,
nav li:hover a {
    color: #043D69 !important;
}

nav .profile {
    max-width: 20%;
}

.dropdown-menu {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    margin: 0 !important;
    font-size: 0.94vw !important;
}

.dropdown-item:hover {
    background-color: white !important;
    color: #043D69 !important;
}

.navbar-light .navbar-toggler {
    border-color: #043D69 !important;
}

.btndefault {
    background-color: #043D69 !important;
    color: white !important;
}

.btnghost {
    border: 1px solid #043D69 !important;
    color: #043D69;
    transition: 2s;
}

.btndefault:hover {
    background-color: #09375b !important;
}

.btnghost:hover {
    background-color: #043D69 !important;
    color: white !important;
}

nav .btndefault,
nav .btnghost {
    font-size: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
}

.row-abu {
    background: #F2F2F2;
    padding-top: 5vw;
    padding-bottom: 5vw;
}

.home1 {
    background: #F7F7F7 url("img/bg-home1.svg")no-repeat !important;
    background-size: 100%;
}

.row-abu .besar,
.row-putih .besar {
    margin-bottom: 0;
    margin-top: 4vw;
    font-size: 4vw;
    font-weight: 500;
}

.row-abu .kecil,
.row-putih .kecil {
    margin-top: 1vw;
    font-size: 2vw;
    color: #666666;
    font-weight: 200;
}

.home1 .btn,
.home2 .btn,
.home3 .btn,
.mulai .btn {
    font-size: 1.7vw;
    font-weight: 200;
    border-radius: 5vw;
    padding: 1vw 2vw;
}

.row-putih {
    background: white;
    padding-top: 5vw;
    padding-bottom: 5vw;
}

.kata {
    padding: 5vw 10vw !important;
}

.kata p {
    font-size: 1.7vw;
}

.kata .besar {
    margin-bottom: 0;
    font-size: 4vw;
    font-weight: 500;
    margin-bottom: 4.5vw;
}

.kata .kecil {
    font-size: 1vw;
}

.mulai p {
    font-size: 2vw;
}

.mulai .besar {
    font-size: 3vw;
    margin-top: 0;
    margin-bottom: 0;
}

footer p {
    font-size: 0.68vw;
    margin-bottom: 0;
}

footer a {
    font-size: 0.99vw;
    color: #666666;
}

footer a:hover {
    color: #043D69;
}

.cari {
    padding-left: 8vw !important;
    padding-right: 8vw !important;
}

.cari .besar {
    font-size: 3vw;
    margin-top: 0;
}

.cari li {
    margin-right: 2.4vw;
}

.cari li a {
    color: black;
}

.rekomen p {
    margin-bottom: 0;
}

.rekomen .besar {
    font-size: 2vw;
    margin-top: 0;
}

.rekomen .card {
    height: 95% !important;
    margin-bottom: 2vw;
}

.rekomen .card p {
    margin: 0;
    font-size: 1vw;
}

.rekomen .card a {
    color: black !important;
}

.rekomen .card a:hover {
    color: #043D69 !important;
}

.latihan li,
.detailpelatihan-isi li {
    margin: 0.5vw 1vw 0.5vw 0;
    border: 1px solid #043D69 !important;
    border-radius: 2vw;
    padding: 0;
    height: 50%;
    transition: 1s;
}

.latihan li:hover,
.detailpelatihan-isi li:hover {
    background: #043D69;
}

.latihan li a,
.detailpelatihan-isi li a {
    padding: 0.2vw 1vw;
    color: #043D69;
}

.latihan li a:hover,
.detailpelatihan-isi li a:hover {
    color: white;
}

.pelatihan .kategori {
    display: inline;
    font-size: 0.7vw;
    margin-right: 0.5vw;
    color: #666;
}

.pelatihan .abu {
    color: #666;
    font-weight: 200;
}

.pelatihan .harga1 {
    text-decoration: line-through;
}

.pelatihan .harga2 {
    font-weight: 600;
    font-size: 2vw;
}

.pelatihan .card-footer {
    background: white;
}

.pelatihan .cardf-0 {
    border: 0;
    padding-top: 0;
}

.pelatihan .cardf-1 img {
    margin-right: 0.5vw;
    margin-bottom: 0.2vw;
}

.pelatihan .cardf-2 img {
    width: 40%;
}

.kotak-sign {
    width: 40% !important;
    border: 1px solid #DDD;
    border-radius: 0.5vw;
}

.kotak-sign .judul {
    font-size: 3vw;
}

.kotak-sign .lupa-pass {
    color: #043D69;
}

.kotak-sign .form-check-label {
    font-size: 1vw;
}

.kotak-sign .btn {
    padding-left: 4vw !important;
    padding-right: 4vw !important;
}

.kotak-sign .kecil {
    font-size: 1vw;
    display: inline;
}

.kotak-sign .normal {
    display: inline;
    color: #043D69;
}

.row-abu2 {
    background: #F9F9F9;
}

.row-abu2 p {
    margin-bottom: 0;
    font-size: 1vw;
}

.row-abu2 img {
    padding-bottom: 0.2vw;
}

.detailkerja-title img {
    max-width: 100%;
}

.detailkerja-title .besar {
    font-size: 2vw;
    margin-top: 0;
    margin-bottom: 0;
}

.detailkerja-title .besar-dashboard {
    font-size: 1.5vw;
    margin-top: 0;
    margin-bottom: 0.5vw;
}

.detailkerja-title .oren {
    font-size: 3vw;
    color: #F0AD4E;
}

.detailkerja-title .cocok {
    font-size: 1vw;
    color: #043D69;
}

.detailkerja-title .abu {
    color: #666666;
}

.detailkerja-title .harga-besar {
    font-size: 3vw;
    margin-bottom: 0;
}

.detailkerja-title .abu2 {
    font-size: 3vw;
    margin-bottom: 0;
    color: #D9D9D9;
}

.detailkerja-title .biru {
    font-size: 3vw;
    margin-bottom: 0;
    color: #043D69;
}

.detailkerja-title .harga-coret {
    text-decoration: line-through;
    color: #666666;
}

.detailkerja-title .modul {
    color: #666666;
}

.detailkerja-title .btnghost:hover {
    background-color: transparent !important;
}

.detailkerja-title .btndefault {
    padding-left: 2.5vw !important;
    padding-right: 2.5vw !important;
}

.detailkerja-isi {
    border: 1px solid #DDD;
    border-radius: 0.5vw;
    width: 70% !important;
    margin-right: 100% !important;
}

.detailkerja-isi .besar,
.detailpelatihan-isi .besar {
    margin-top: 0;
    margin-bottom: 1vw !important;
    font-size: 1.5vw;
}

.detailpelatihan-isi img {
    max-width: 100%;
}

.detailpelatihan-isi .kecil {
    margin-top: 0;
    margin-bottom: 1vw !important;
    font-size: 1vw;
}

.detailpelatihan-isi .coret {
    text-decoration: line-through;
}

.dashboard .besar {
    font-size: 2vw;
}

.dashboard .abu {
    color: #666666;
}

.dashboard .top .btn {
    background: #F7F7F7;
    border-radius: 1vw;
}

.dashboard .top .besar {
    color: #043D69;
    margin-top: 0;
    font-size: 1.2vw;
}

.dashboard .top .kecil {
    color: #043D69;
    font-size: 1vw;
    margin: 0;
}

.dashboard .top .active {
    background: #043D69;
    border-radius: 1vw;
}

.dashboard .top .active p {
    color: white;
}

.dashboard .isi {
    border-radius: 1vw;
    border: 1px solid #DDDDDD;
}

.dashboard .isi .kiri {
    background: #043D69;
    padding: 2vw;
    border-radius: 1vw;
    color: white;
}

.dashboard .isi .kiri p {
    margin-bottom: 0;
}

.dashboard .isi .kiri .besar {
    font-size: 1.5vw;
    margin-top: 0;
    margin-bottom: 0.5vw;
}

.dashboard .isi .kanan {
    padding: 2vw 3vw;
}

.dashboard .isi .kanan .nama {
    font-size: 3vw;
    margin-top: 0;
}

.dashboard .isi .kanan .besar {
    font-size: 1.5vw;
    margin-top: 0;
    margin-bottom: 0.5vw;
}

.dashboard .isi .kanan .card {
    height: 100%;
}

.dashboard .isi .kanan .card p {
    font-size: 1vw;
    margin-top: 0;
}

.dashboard .isi .kanan .card .besar {
    font-size: 1.2vw;
    margin-top: 0;
    margin-bottom: 0;
}

.dashboard .isi .kanan .card .card-footer {
    background: white;
    border: 0;
}

.dashboard .isi .kanan .card .btn {
    padding-left: 0;
    padding-right: 0;
    font-size: 1vw;
    background: #043D69;
    color: white;
}

.disabled {
    pointer-events: none;
    background: #C4C4C4 !important;
}

.dashboard .isi .kanan .last p {
    margin-bottom: 0;
}

.dashboard .isi .kanan .last .sertif {
    margin-bottom: 0;
    color: #0275D8;
    font-size: 1vw;
}

.dashboard .isi .kanan .last .sertif img {
    margin-right: 0.5vw;
}

.edit-atas {
    width: 40% !important;
}

.edit-atas .angka .btn {
    margin-right: 1vw;
    width: 3vw !important;
    padding: 0vw !important;
    border-radius: 1.5vw;
    background: #DDDDDD;
    color: white;
    font-size: 1.8vw;
}

.edit-atas .angka .active {
    background: #043D69;
}

.form-profile {
    width: 40% !important;
    border: 1px solid #DDD;
    border-radius: 0.5vw;
}

.form-profile .judul {
    font-size: 2vw;
}

.form-profile .judul .biru {
    color: #043D69;
}

.form-profile .judul .abu {
    color: #DDD;
}


.form-profile .lupa-pass {
    color: #043D69;
}

.form-profile .form-check-label {
    font-size: 1vw;
}

.form-profile .btn {
    padding-left: 4vw !important;
    padding-right: 4vw !important;
}

.form-profile .kecil {
    font-size: 1vw;
    display: inline;
}

.form-profile .normal {
    display: inline;
    color: #043D69;
}

.form-profile .upload {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    background-color: transparent;
    color: transparent;
}

.form-profile .label-info {
    font-size: 0.8vw;
}

.form-profile small {
    color: #818A91;
}

.form-profile .btnupload {
    border: 1px solid #CCCCCC;
    color: #999;
    transition: 1s;
}

.form-profile .btnupload:hover {
    background: #CCC;
    color: white;
}

.dashboard-profile .card-body {
    padding-bottom: 0;
}

.dashboard-profile .card-footer {
    background: white;
    border: 0;
}

.dashboard-profile .card .disabled {
    padding-left: 0;
    padding-right: 0;
    font-size: 1vw;
    color: white !important;
}

.dashboard-pelatihan .speaker-pic {
    height: 100%;
}

.dashboard-pelatihan .angka {
    color: #043D69;
    font-size: 3vw;
    margin-bottom: 0;
}

.dashboard-pelatihan .angka .abu {
    color: #DDD;
}

.garis-abu {
    border: 1px solid #DDDDDD;
}

.pelatihan-detail .title-pelatihan {
    margin-bottom: 0;
    font-size: 2.3vw;
}

.pelatihan-detail .selesai {
    border-radius: 0.5vw;
    background: #F7F7F7;
}

.pelatihan-detail .selesai p {
    margin-bottom: 0;
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.pelatihan-detail .selesai .btn {
    font-size: 1vw;
}

.pelatihan-detail .list {
    border-radius: 0.5vw;
    border: 1px solid #DDDDDD;
    padding-top: 1.5vw;
}

.pelatihan-detail .list .detailing {
    font-size: 0.7vw;
}

.pelatihan-detail .list .hijau{
    color: #5CB85C;
}

.img-frame{
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border-radius: 128px;
    max-height: 256px;
    max-width: 256px;
}

.img-frame img{
    max-height: 256px;
}

.additional-ekskul .add-input{
    margin-top: 16px;
}

#nav-image{
    height: 47px;
    border-radius: 47px;
}

.loader {
    color: #007bff;
    font-size: 20px;
    margin: 100px auto;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load4 1.3s infinite linear;
    animation: load4 1.3s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  @-webkit-keyframes load4 {
    0%,
    100% {
      box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
      box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
  }
  @keyframes load4 {
    0%,
    100% {
      box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
      box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
  }
  